@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Lato";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "〉";
  padding-left: 0.5em;
  transform: rotate(180deg);
}

details[open] > summary::after {
  content: "﹀";
}

.menu {
  background-color: #fff;
  padding: 33px;
  width: 232px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  position: absolute;
  top: 65px;
  display: none;
  z-index: 100;
}
.menu::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  position: absolute;
  top: -8px;
  left: 4px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.menu__submenu:not(:last-of-type) {
  margin: 0 0 20px 0;
}
.menu__close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.menu__title {
  margin: 0 0 24px 0;
}
.menu__title-link, .menu__heading {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: #000;
}
.menu__heading {
  color: #F16D7F;
  margin: 0 0 12px 0;
}
.menu__link {
  display: block;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #6F6E6E;
  padding: 0 21px;
}
.menu__link:not(:last-of-type) {
  padding-bottom: 11px;
}
.menu__link:hover {
  color: #F16D7F;
  transition: color 0.3s ease 0s;
}

.header {
  height: 75px;
  background: #222;
}
.header__inner {
  justify-content: space-between;
}
.header__main, .header__menu {
  align-items: flex-end;
}
.header__main {
  gap: 40px;
}
.header__menu {
  gap: 33px;
}
.header__item {
  position: relative;
  padding: 18px 0 18px 0;
}
.header__burger:hover .menu {
  display: block;
}

.header__item .fa-solid {
  color: #fff;
  font-size: 28px;
  transition: color 0.3s ease 0s;
}

.header__item:hover .fa-solid {
  color: #F16D7F;
}

.content {
  margin: 0 0 95px 0;
}

.top {
  background: #F1E4E6;
  height: 764px;
  margin-bottom: 65px;
}
.top__inner {
  width: 100%;
  height: 100%;
  background: url("../images/top_preview/Man.png") no-repeat left;
  justify-content: flex-end;
  padding: 290px 105px 0 0;
}
.top__inner::before {
  content: "";
  width: 12px;
  height: 92px;
  background: #F16D7F;
  margin: 0 16px 0 0;
}
.top__title {
  display: inline-block;
}
.top__sup {
  font-weight: 900;
  font-size: 3rem;
  line-height: 120.8333333333%;
  color: #222;
}
.top__sub {
  font-weight: 700;
  font-size: 2rem;
  line-height: 118.75%;
  color: #222;
}
.top__word {
  color: #F16D7F;
}

.arrivals {
  background: #F8F3F4;
  padding: 60px 0;
}
.arrivals__inner {
  justify-content: space-between;
}
.arrivals__title {
  font-size: 1.5rem;
  line-height: 120.8333333333%;
  color: #F16D7F;
  text-transform: uppercase;
}
.arrivals__nav {
  gap: 5px;
}
.arrivals__link {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #636363;
}
.arrivals__slash {
  color: #636363;
}
.arrivals__link.active {
  font-weight: 700;
  color: #F16D7F;
}

.product {
  background: #F7F7F7;
  position: relative;
}
.product__top {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.product__area {
  position: absolute;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: background 0.3s ease 0s;
}
.product__area:hover {
  background: #d8d8d8;
}
.product__area.left {
  left: 0;
}
.product__area.right {
  right: 0;
}
.product__area:hover .product__arrow {
  color: #F16D7F;
}
.product__arrow {
  padding: 12px 17px;
  background: rgba(42, 42, 42, 0.15);
  transition: color 0.3s ease 0s;
}

.item {
  position: relative;
  z-index: 5;
  background: #fff;
  text-align: center;
  align-items: center;
  margin: -30px 0 128px 0;
  padding: 65px 0;
  border: 1px solid #EAEAEA;
}
.item__suptitle {
  align-items: center;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #F16D7F;
  margin: 0 0 12px 0;
}
.item__suptitle::after {
  margin: 12px 0 0 0;
  display: block;
  content: "";
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
}
.item__subtitle {
  font-weight: 300;
  color: #4D4D4D;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  margin: 0 0 50px 0;
}
.item__text {
  width: 550px;
  font-weight: 300;
  color: #5E5E5E;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  margin: 0 0 32px 0;
}
.item__price {
  margin: 0 0 65px 0;
  font-weight: 300;
  color: #EF5B70;
  font-size: 1.5rem;
  line-height: 120.8333333333%;
}
.item__long-line {
  height: 1px;
  width: 640px;
  background: #EAEAEA;
  margin: 0 0 130px 0;
}
.item__variant, .item__spec {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #6F6E6E;
  cursor: pointer;
}
.item__choice {
  background: #fff;
}
.item__variants {
  position: absolute;
  gap: 23px;
  top: 422px;
}
.item__variant {
  margin: 10px 0 0 0;
}
.item__variant:hover:hover {
  background: #FF6A6A;
  color: #fff;
}
.item__link {
  align-items: center;
  justify-content: center;
  border: 1px solid #FF6A6A;
  padding: 15px 30px;
  color: #FF6A6A;
  border: 1px solid #FF6A6A;
  transition: background-color 0.3s ease 0s;
}
.item__link:hover {
  color: #fff;
  background: #FF6A6A;
}

.similar {
  gap: 30px;
}

.for {
  gap: calc(
    1.25rem + 10 *
      ((100vw - 768px) / 832)
  );
  margin: 0 0 96px 0;
}
.for__img img {
  max-width: 100%;
}
.for__img {
  position: relative;
}
.for__triple {
  gap: calc(
    1.25rem + 10 *
      ((100vw - 768px) / 832)
  );
}
.for__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
}
.for__filter:hover {
  background: rgba(33, 22, 22, 0.5);
}
.for__title {
  text-transform: uppercase;
  text-align: center;
}
.for__sup {
  color: #fff;
  font-size: 1rem;
  line-height: 118.75%;
}
.for__sub {
  font-weight: 700;
  color: #f16d7f;
  font-size: 1.5rem;
  line-height: 120.8333333333%;
}

.fetured {
  align-items: center;
}
.fetured__header {
  text-align: center;
  margin: 0 0 48px 0;
}
.fetured__title {
  font-size: 1.875rem;
  line-height: 120%;
  color: #222;
  margin: 0 0 6px 0;
}
.fetured__text {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #9F9F9F;
}
.fetured__cards {
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 0 48px 0;
}
.fetured__btn {
  font-size: 1rem;
  line-height: 118.75%;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  transition: background-color 0.3s ease 0s;
}
.fetured__btn:hover {
  background-color: #F16D7F;
  color: #fff;
}

.card {
  width: 360px;
  background: #F8F8F8;
  position: relative;
}
.card:hover img {
  filter: brightness(40%);
}
.card__cart {
  position: absolute;
  justify-content: center;
  top: 188px;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}
.card:hover .card__cart {
  opacity: 1;
}
.card__pic {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card__img {
  width: 100%;
}
.card__link {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  pointer-events: auto;
}
.card__text {
  padding: 20px;
  flex-grow: 1;
}
.card__name {
  font-size: 0.8125rem;
  line-height: 123.0769230769%;
  color: #000;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}
.card__desc {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  font-weight: 300;
  color: #5D5D5D;
  margin: 0 0 18px 0;
}
.card__price {
  font-size: 1rem;
  line-height: 118.75%;
  display: flex;
  flex-grow: 1;
  align-items: end;
  color: #F16D7F;
}

.fa-cart-plus {
  margin: 0 10px 0 0;
}

.footer__top {
  background: #222224;
  padding: 104px 0;
}
.footer__inner {
  justify-content: space-around;
  align-items: end;
}
.footer__prop {
  align-items: center;
  color: #fff;
  text-align: center;
}
.footer__img {
  margin: 0 0 28px 0;
}
.footer__title {
  font-size: 1.25rem;
  line-height: 120%;
  margin: 0 0 16px 0;
}
.footer__text {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
}
.footer__mid {
  background: url("../images/footer/back.jpg") no-repeat;
  background-size: cover;
  height: 448px;
  width: 100%;
}
.footer__mid-inner {
  align-items: center;
  justify-content: space-around;
}
.footer__mid-bg {
  background: rgba(244, 244, 244, 0.7);
  width: 100%;
  height: 100%;
  align-items: center;
}
.footer__review {
  align-items: center;
  flex-basis: 360px;
  text-align: center;
}
.footer__review figcaption {
  font-size: 1.25rem;
  line-height: 120%;
  color: #222224;
}
.footer__ava {
  margin: 0 0 24px 0;
}
.footer__sub {
  text-align: center;
  text-transform: uppercase;
}
.footer__sub form {
  width: 100%;
  display: flex;
}
.footer__sub-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 166.6666666667%;
  color: #222224;
}
.footer__sub-text {
  font-size: 1.125rem;
  line-height: 166.6666666667%;
  color: #222224;
  margin: 0 0 32px 0;
}
.footer__sub-input {
  border-radius: 20px 0 0 20px;
  height: 49px;
  flex-basis: 246px;
  padding: 7px 22px;
  outline: none;
  background-color: #E1E1E1;
}
.footer__sub-input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #222224;
}
.footer__sub-input:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #222224;
}
.footer__sub-input::placeholder {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #222224;
}
.footer__sub-btn {
  border-radius: 0 20px 20px 0;
  flex-grow: 1;
  color: #fff;
  background: #F16D7F;
  transition: background 0.3s ease 0s;
}
.footer__sub-btn:hover {
  color: #F16D7F;
  background: #fff;
}
.footer__bot {
  background: #222224;
  padding: 24px 0;
}
.footer__bot-inner {
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  font-size: 1rem;
  line-height: 118.75%;
  color: #FBFBFB;
}
.footer__social {
  gap: 7px;
}
.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #fff;
  padding: 8px;
  transition: background 0.3s ease 0s;
}
.footer__social-item:hover {
  background: #F16D7F;
}
.footer__social-link {
  color: #000;
}
.footer__social-item:hover .footer__social-link {
  color: #fff;
}