@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Lato";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.menu {
  background-color: #fff;
  padding: 33px;
  width: 232px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  position: absolute;
  top: 65px;
  display: none;
  z-index: 100;
}
.menu::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  position: absolute;
  top: -8px;
  left: 4px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.menu__submenu:not(:last-of-type) {
  margin: 0 0 20px 0;
}
.menu__close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.menu__title {
  margin: 0 0 24px 0;
}
.menu__title-link, .menu__heading {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  text-transform: uppercase;
  color: #000;
}
.menu__heading {
  color: #F16D7F;
  margin: 0 0 12px 0;
}
.menu__link {
  display: block;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #6F6E6E;
  padding: 0 21px;
}
.menu__link:not(:last-of-type) {
  padding-bottom: 11px;
}
.menu__link:hover {
  color: #F16D7F;
  transition: color 0.3s ease 0s;
}

.variants {
  z-index: 10;
}
.variants__spec, .variants__choice {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #6F6E6E;
  cursor: pointer;
}
.variants__list {
  align-self: center;
}
.variants__item {
  position: relative;
  padding: 10px;
}
.variants__menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 30px;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.variants__item:hover .variants__menu {
  display: flex;
}
.variants__select {
  display: flex;
  gap: 10px;
  width: 100%;
}
.variants__choice {
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.catalog-menu {
  background: #fff;
  display: none;
  position: absolute;
  z-index: 10;
  padding: 15px;
  top: -15px;
  left: -15px;
  width: 360px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.catalog-menu__title {
  margin: 0 0 16px 0;
}
.catalog-menu__subtitle, .catalog-menu__title {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #EF5B70;
  text-transform: uppercase;
  cursor: pointer;
}
.catalog-menu__subtitle {
  padding: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
}
.catalog-menu__subtitle:not(:first-of-type) {
  margin: 0 0 18px 0;
}
.catalog-menu__subtitle:last-of-type {
  margin: 0;
}
.catalog-menu__list {
  padding: 19px 20px 20px 24px;
  gap: 10px;
}
.catalog-menu__item {
  color: #6F6E6E;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  padding: 5px 0;
  transition: color 0.3s ease 0s;
}
.catalog-menu__item:hover {
  color: #F16D7F;
}

.accordion {
  display: none;
  z-index: 100;
  position: absolute;
  top: -16px;
  left: -16px;
  width: 360px;
  padding: 16px;
  gap: 15px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.accordion__wrap {
  gap: 15px;
}
.accordion a {
  color: #6F6E6E;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  padding: 5px 0;
  transition: color 0.3s ease 0s;
}
.accordion a:hover {
  color: #F16D7F;
}
.accordion__title, .accordion__filter {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #EF5B70;
  text-transform: uppercase;
  cursor: pointer;
}
.accordion__title {
  padding: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
}
.accordion__list {
  padding: 24px 17px 0 17px;
  gap: 10px;
}
.accordion__bars {
  font-size: inherit;
}

.fa-chevron-down {
  margin: 0 0 0 10px;
}

.header {
  height: 75px;
  background: #222;
}
.header__inner {
  justify-content: space-between;
}
.header__main, .header__menu {
  align-items: flex-end;
}
.header__main {
  gap: 40px;
}
.header__menu {
  gap: 33px;
}
.header__item {
  position: relative;
  padding: 18px 0 18px 0;
}
.header__burger:hover .menu {
  display: block;
}

.header__item .fa-solid {
  color: #fff;
  font-size: 28px;
  transition: color 0.3s ease 0s;
}

.header__item:hover .fa-solid {
  color: #F16D7F;
}

@media screen and (max-width: 375px) {
  .header__hide {
    display: none;
  }

  .variants__spec, .variants__choice {
    font-size: 0.75rem;
    line-height: 116.6666666667%;
  }
}
.content {
  margin: 0 0 95px 0;
}

.top {
  background: #F1E4E6;
  height: 764px;
  margin-bottom: 65px;
}
.top__inner {
  position: relative;
  height: inherit;
  background: url(../images/top_preview/Man.png) no-repeat;
  background-size: contain;
}
.top__img-wrap {
  width: 100%;
}
.top__img {
  max-width: 100%;
}
.top__title {
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
  position: absolute;
  top: 290px;
  right: 101px;
}
.top__sup {
  font-weight: 900;
  font-size: 3rem;
  line-height: 120.8333333333%;
  color: #222;
}
.top__sub {
  font-weight: 700;
  font-size: 2rem;
  line-height: 118.75%;
  color: #222;
}
.top__word {
  color: #F16D7F;
}

.registration {
  padding: 64px 0 96px 0;
}
.registration__inner {
  justify-content: space-between;
}
.registration__forms {
  max-width: 360px;
}
.registration__name {
  gap: 21px;
}
.registration__title {
  margin: 0 0 21px 0;
  color: #222222;
  font-weight: 300;
  font-size: 1rem;
  line-height: 118.75%;
}
.registration__input {
  border: 1px solid #A4A4A4;
  outline: none;
  padding: 15px 17px;
}
.registration__input::-moz-placeholder {
  color: #B1B1B1;
  font-size: 0.8125rem;
  line-height: 130.7692307692%;
}
.registration__input:-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 0.8125rem;
  line-height: 130.7692307692%;
}
.registration__input::placeholder {
  color: #B1B1B1;
  font-size: 0.8125rem;
  line-height: 130.7692307692%;
}
.registration__radio {
  margin: 32px 0;
  gap: 20px;
}
.registration__radio label {
  font-weight: 300;
  font-size: 0.6875rem;
  line-height: 118.1818181818%;
  color: #000;
}
.registration__tip {
  font-size: 0.8125rem;
  line-height: 123.0769230769%;
  font-weight: 300;
  color: #B1B1B1;
  margin: 0 0 40px 0;
}
.registration__btn {
  text-transform: uppercase;
  padding: 30px 16px;
  background: #F16D7F;
  border: #f16d7f;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 50px;
  transition: all 0.3s ease 0s;
}
.registration__btn:hover {
  background: #fff;
  color: #f16d7f;
}
.registration__arrow {
  margin: 0 0 0 20px;
}
.registration__info, .registration__proposition {
  max-width: 652px;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120.8333333333%;
  color: #000;
}
.registration__proposition {
  margin: 0 0 21px 0;
}
.registration__text {
  margin: 0 0 21px 0;
}
.registration__item:not(:last-of-type) {
  margin: 0 0 16px 0;
}
.registration__check {
  margin: 0 15px 0 0;
}

.wrap-radio {
  gap: 10px;
}

.arrivals {
  background: #F8F3F4;
  padding: 60px 0;
}
.arrivals__inner {
  justify-content: space-between;
}
.arrivals__title {
  font-size: 1.5rem;
  line-height: 120.8333333333%;
  color: #F16D7F;
  text-transform: uppercase;
}
.arrivals__nav {
  gap: 5px;
}
.arrivals__link {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #636363;
}
.arrivals__slash {
  color: #636363;
}
.arrivals__link.active {
  font-weight: 700;
  color: #F16D7F;
}

.product {
  background: #F7F7F7;
  position: relative;
}
.product__top {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.product__img {
  width: 100%;
}
.product__area {
  position: absolute;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: background 0.3s ease 0s;
}
.product__area:hover {
  background: #d8d8d8;
}
.product__area.left {
  left: 0;
}
.product__area.right {
  right: 0;
}
.product__area:hover .product__arrow {
  color: #F16D7F;
}
.product__arrow {
  padding: 12px 17px;
  background: rgba(42, 42, 42, 0.15);
  transition: color 0.3s ease 0s;
}

.item {
  position: relative;
  z-index: 5;
  background: #fff;
  text-align: center;
  align-items: center;
  margin: -30px 0 128px 0;
  padding: 65px 24px;
  border: 1px solid #EAEAEA;
}
.item__suptitle {
  align-items: center;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #F16D7F;
  margin: 0 0 12px 0;
}
.item__suptitle::after {
  margin: 12px 0 0 0;
  display: block;
  content: "";
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
}
.item__subtitle {
  font-weight: 300;
  color: #4D4D4D;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  margin: 0 0 50px 0;
}
.item__text {
  max-width: 550px;
  font-weight: 300;
  color: #5E5E5E;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  margin: 0 0 32px 0;
}
.item__price {
  margin: 0 0 65px 0;
  font-weight: 300;
  color: #EF5B70;
  font-size: 1.5rem;
  line-height: 120.8333333333%;
}
.item__long-line {
  height: 1px;
  width: 640px;
  background: #EAEAEA;
  margin: 0 0 130px 0;
}
.item__choice {
  background: #fff;
}
.item__link {
  margin: 48px 0 0 0;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF6A6A;
  padding: 15px 30px;
  color: #FF6A6A;
  border: 1px solid #FF6A6A;
  transition: background-color 0.3s ease 0s;
}
.item__link:hover {
  color: #fff;
  background: #FF6A6A;
}

.for {
  gap: 30px;
  margin: 0 0 96px 0;
}
.for__img img {
  max-width: 100%;
}
.for__img {
  position: relative;
  transition: transform 0.4s ease 0s;
}
.for__img:hover {
  transform: scale(1.05);
}
.for__triple {
  gap: 30px;
}
.for__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
  transition: background 0.4s ease 0s;
}
.for__filter:hover {
  background: rgba(70, 47, 47, 0.5);
}
.for__title {
  text-transform: uppercase;
  text-align: center;
}
.for__sup {
  color: #fff;
  font-size: 1rem;
  line-height: 118.75%;
}
.for__sub {
  font-weight: 700;
  color: #f16d7f;
  font-size: 1.5rem;
  line-height: 120.8333333333%;
}

.fetured {
  align-items: center;
}
.fetured__header {
  text-align: center;
  margin: 0 0 48px 0;
}
.fetured__title {
  font-size: 1.875rem;
  line-height: 120%;
  color: #222;
  margin: 0 0 6px 0;
}
.fetured__text {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #9F9F9F;
}
.fetured__cards {
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 0 48px 0;
}
.fetured__btn {
  font-size: 1rem;
  line-height: 118.75%;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  transition: background-color 0.3s ease 0s;
}
.fetured__btn:hover {
  background-color: #F16D7F;
  color: #fff;
}

.my-card {
  width: 360px;
  background: #F8F8F8;
  position: relative;
  transition: transform 0.5s ease 0s;
}
.my-card:hover {
  transform: scale(1.05);
}
.my-card:hover img {
  filter: brightness(40%);
}
.my-card__cart {
  position: absolute;
  justify-content: center;
  top: 188px;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}
.my-card:hover .my-card__cart {
  opacity: 1;
}
.my-card__pic {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}
.my-card__img {
  width: 100%;
}
.my-card__link {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  pointer-events: auto;
}
.my-card__text {
  padding: 20px;
  flex-grow: 1;
}
.my-card__name {
  font-size: 0.8125rem;
  line-height: 123.0769230769%;
  color: #000;
  margin: 0 0 12px 0;
  text-transform: uppercase;
}
.my-card__desc {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  font-weight: 300;
  color: #5D5D5D;
  margin: 0 0 18px 0;
}
.my-card__price {
  font-size: 1rem;
  line-height: 118.75%;
  display: flex;
  flex-grow: 1;
  align-items: end;
  color: #F16D7F;
}

.fa-cart-plus {
  margin: 0 10px 0 0;
}

.filter {
  padding: 51px 0 64px 0;
  align-items: center;
}
.filter__for {
  position: relative;
  margin: 0 0 0 16px;
}
.filter__for:hover .accordion {
  display: flex;
}
.filter__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #000;
}
.filter__title:hover {
  color: #f16d7f;
  cursor: pointer;
}
.filter__title:hover .accordion {
  display: block;
}

.filter-mod {
  padding: 0 0 0 306px;
}

.similar {
  gap: 30px;
}
.similar.catalog {
  align-items: center;
}
.similar__wrap {
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 0 48px 0;
}
.similar.catalog {
  margin: 0 0 48px 0;
}

.pagination {
  border: 1px solid #EBEBEB;
  padding: 12px;
  margin: 0 auto;
}
.pagination__list {
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.page-link {
  font-weight: 300;
  font-size: 1rem;
  line-height: 118.75%;
  color: #c4c4c4;
}
.page-link__active {
  color: #ef5b70;
}
.page-link__arrows {
  color: #000;
}
.page-link:hover {
  color: #ef5b70;
}

.in {
  padding: 96px 0 128px 0;
}
.in__inputs {
  gap: 20px;
}
.in input {
  outline: none;
}
.in__cart {
  align-items: flex-start;
  gap: 40px;
}
.in__item {
  position: relative;
  width: 652px;
  display: flex;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.in__stats {
  background: #fff;
  padding: 22px 31px;
  overflow: hidden;
}
.in__quantity {
  width: 48px;
  color: #656565;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  padding: 0 0 0 10px;
  margin: 0 0 0 24px;
  border: 1px solid #EAEAEA;
}
.in__funcs {
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  margin: 90px 0 0 0;
}
.in__func {
  color: #000000;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  border: 1px solid #4A4A4A;
  padding: 16px 38px;
  transition: all 0.3s ease 0s;
}
.in__func:hover {
  color: #fff;
  background: #7a7a7a;
}
.in__img {
  height: 306px;
}
.in__name {
  font-size: 1.5rem;
  line-height: 120.8333333333%;
  color: #222;
  margin: 0 0 42px 0;
}
.in__characteristics {
  font-size: 1.375rem;
  line-height: 118.1818181818%;
  color: #575757;
  gap: 6px;
}
.in__price {
  color: #f16f82;
  margin: 0 0 0 5px;
}
.in__color {
  color: #6f6e6e;
  margin: 0 0 0 10px;
}
.in__adress {
  margin: 0 0 0 128px;
  width: 359px;
}
.in__subtitle {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 300;
  color: #222;
  font-size: 1rem;
  line-height: 118.75%;
}
.in__form {
  gap: 20px;
}
.in__close {
  position: absolute;
  right: 22px;
  top: 25px;
  color: #575757;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}
.in__close:hover {
  color: #797676;
}
.in__input {
  border: 1px solid #A4A4A4;
  padding: 13px 16px;
}
.in__input::-moz-placeholder {
  color: #222;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 123.0769230769%;
}
.in__input:-ms-input-placeholder {
  color: #222;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 123.0769230769%;
}
.in__input::placeholder {
  color: #222;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 123.0769230769%;
}
.in__input-quote {
  font-weight: 300;
  font-size: 0.6875rem;
  line-height: 118.1818181818%;
  max-width: 115px;
  padding: 10px 15px;
  color: #4A4A4A;
  margin: 0 0 57px 0;
}
.in__total {
  align-items: flex-end;
  padding: 40px;
  background: #F5F3F3;
}
.in__subtotal, .in__grandtotal {
  text-transform: uppercase;
}
.in__subtotal {
  color: #4A4A4A;
  font-size: 0.6875rem;
  line-height: 118.1818181818%;
  margin: 0 0 12px 0;
}
.in__grandtotal {
  color: #222;
  font-weight: 300;
  font-size: 1rem;
  line-height: 118.75%;
  margin: 0 0 24px 0;
}
.in__price-margin {
  margin: 0 0 0 20px;
}
.in__grandprice {
  color: #f16d7f;
}
.in__line {
  background: #E2E2E2;
  width: 100%;
  height: 1px;
  margin: 0 0 17px 0;
}
.in__btn {
  align-self: center;
  width: 100%;
  background: #F16D7F;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 42px;
  transition: all 0.3s ease 0s;
}
.in__btn:hover {
  background: #fff;
  color: #f16d7f;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .top {
    height: 367px;
    margin-bottom: 20px;
  }
  .top__title {
    padding: 0 33px 0 0;
  }
  .top__inner {
    background-position-x: 100px;
  }
  .top__title {
    right: 33px;
    top: 138px;
    padding: 0 0 0 16px;
  }
  .top__sup {
    font-weight: 700;
    font-size: 2.625rem;
    line-height: 123.8095238095%;
    color: #222;
  }
  .top__sub {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 116.6666666667%;
    color: #222;
  }

  .content {
    margin-bottom: 64px;
  }

  .fetured__cards {
    gap: 16px;
    margin-bottom: 33px;
  }

  .similar__wrap {
    gap: 16px;
  }

  .similar.catalog {
    margin: 0 0 40px 0;
  }

  .in__inner {
    flex-direction: column;
  }
  .in__item {
    width: 100%;
  }
  .in__funcs {
    justify-content: center;
    gap: 50px;
    margin: 30px 0 64px 0;
  }
  .in__adress {
    margin: 0;
    width: 100%;
  }
  .in__form {
    flex-direction: row;
    align-items: center;
  }
  .in__inputs, .in__total {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 375px) {
  .container {
    padding: 0 8px;
  }

  .top__inner {
    background-image: none;
  }

  .for__triple {
    flex-direction: column;
  }
  .for__accessor {
    height: 111px;
  }

  .filter {
    padding: 24px 0 32px 0;
  }
  .filter span {
    display: none;
  }
  .filter__for {
    margin: 0;
  }

  .arrivals {
    padding: 24px 0 46px 0;
  }
  .arrivals__inner {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .filter-mod {
    padding: 0 0 0 61px;
  }

  .fa-chevron-down {
    margin: 0px 0 0 7px;
  }

  .similar {
    flex-wrap: wrap;
  }

  .item {
    margin-bottom: 64px;
  }
  .item__long-line {
    width: 148px;
    margin: 0 0 50px 0;
  }

  .variants__spec {
    font-size: 0.625rem;
    line-height: 120%;
  }

  .in__item {
    height: 188px;
  }
  .in__cart {
    gap: 30px;
  }
  .in__name {
    font-size: 1rem;
    line-height: 118.75%;
  }
  .in__img {
    width: 143px;
    height: 100%;
  }
  .in__stats {
    padding: 13px 17px;
  }
  .in__characteristics {
    font-size: 0.875rem;
    line-height: 121.4285714286%;
  }
  .in__quantity {
    width: 48px;
    height: 14px;
  }
  .in__close {
    top: 12px;
  }
  .in__funcs {
    gap: 9px;
    margin-bottom: 64px;
  }
  .in__func {
    font-size: 0.75rem;
    line-height: 116.6666666667%;
    padding: 9px 18px;
    flex-basis: 50%;
  }
  .in__form {
    flex-direction: column;
  }
  .in__inputs, .in__total {
    width: 100%;
  }
}
.footer__top {
  background: #222224;
  padding: 104px 0;
}
.footer__inner {
  justify-content: space-around;
  align-items: end;
}
.footer__prop {
  align-items: center;
  color: #fff;
  text-align: center;
}
.footer__img {
  margin: 0 0 28px 0;
}
.footer__title {
  font-size: 1.25rem;
  line-height: 120%;
  margin: 0 0 16px 0;
}
.footer__text {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 121.4285714286%;
}
.footer__mid {
  background: url("../images/footer/back.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 448px;
}
.footer__mid-inner {
  align-items: center;
  justify-content: space-around;
  height: inherit;
}
.footer__mid-container {
  width: 100%;
  height: 100%;
}
.footer__mid-bg {
  background: rgba(244, 244, 244, 0.7);
  width: 100%;
  align-items: center;
  padding: 86px 0 140px 0;
}
.footer__review {
  align-items: center;
  max-width: 360px;
  text-align: center;
}
.footer__review figcaption {
  font-size: 1.25rem;
  line-height: 120%;
  color: #222224;
}
.footer__ava {
  margin: 0 0 24px 0;
}
.footer__sub {
  text-align: center;
  text-transform: uppercase;
}
.footer__sub form {
  width: 100%;
  display: flex;
}
.footer__sub-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 166.6666666667%;
  color: #222224;
}
.footer__sub-text {
  font-size: 1.125rem;
  line-height: 166.6666666667%;
  color: #222224;
  margin: 0 0 32px 0;
}
.footer__sub-input {
  border-radius: 20px 0 0 20px;
  height: 49px;
  flex-basis: 246px;
  padding: 7px 22px;
  outline: none;
  background-color: #E1E1E1;
}
.footer__sub-input::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #222224;
}
.footer__sub-input:-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #222224;
}
.footer__sub-input::placeholder {
  font-size: 0.875rem;
  line-height: 121.4285714286%;
  color: #222224;
}
.footer__sub-btn {
  border-radius: 0 20px 20px 0;
  flex-grow: 1;
  color: #fff;
  background: #F16D7F;
  transition: background 0.3s ease 0s;
}
.footer__sub-btn:hover {
  color: #F16D7F;
  background: #fff;
}
.footer__bot {
  background: #222224;
  padding: 24px 0;
}
.footer__bot-inner {
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  font-size: 1rem;
  line-height: 118.75%;
  color: #FBFBFB;
}
.footer__social {
  gap: 7px;
}
.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #fff;
  padding: 8px;
  transition: background 0.3s ease 0s;
}
.footer__social-item:hover {
  background: #F16D7F;
}
.footer__social-link {
  color: #000;
}
.footer__social-item:hover .footer__social-link {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .footer__mid-inner {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .footer__bot {
    padding: 24px 23px;
  }
}
@media screen and (max-width: 375px) {
  .footer__mid-inner {
    gap: 60px;
  }
  .footer__bot-inner {
    flex-direction: column-reverse;
    gap: 40px;
  }
}