// Стили для контента сайта

.content {
    margin: 0 0 95px 0;
}

.top {
    background: #F1E4E6;
    height: 764px;
    margin-bottom: 65px;

    &__inner {
        position: relative;
        height: inherit;
        background: url(../images/top_preview/Man.png) no-repeat;
        background-size: contain;
    }

    &__img-wrap {
        width: 100%;
    }

    &__img {
        max-width: 100%;
    }

    &__title {
        border-left: 12px solid #F16D7F;
        padding: 0 0 0 16px;
        position: absolute;
        top: 290px;
        right: 101px;
    }

    &__sup {
        font-weight: 900;
        @include font-conf(48,58);
        color: #222;
    }

    &__sub {
        font-weight: 700;
        @include font-conf(32,38);
        color: #222;
    }

    &__word {
        color: #F16D7F;
    }
}

.registration {
    padding: 64px 0 96px 0;

    &__inner {
        justify-content: space-between;
    }
    &__forms {
        max-width: 360px;
    }

    &__name {
        gap: 21px;
    }

    &__title {
        margin: 0 0 21px 0;
        color: #222222;
        font-weight: 300;
        @include font-conf(16,19);
    }

    &__input {
        border: 1px solid #A4A4A4;
        outline: none;
        padding: 15px 17px;

        &::placeholder {
            color: #B1B1B1;
            @include font-conf(13,17);
        }
    }

    &__radio {
        margin: 32px 0;
        gap: 20px;

        & label {
            font-weight: 300;
            @include font-conf(11,13);
            color: #000;
        }
    }

    &__tip {
        @include font-conf(13,16);
        font-weight: 300;
        color:#B1B1B1;
        margin: 0 0 40px 0;
    }

    &__btn {
        text-transform: uppercase;
        padding: 30px 16px;
        background:#F16D7F;
        border: #f16d7f;
        @include font-conf(14, 17);
        color: #fff;
        justify-content: center;
        align-items: center;
        width: 167px;
        height: 50px;
        transition: all .3s ease 0s;

        &:hover {
            background: #fff;
            color: #f16d7f;

        }
    }

    &__arrow {
        margin: 0 0 0 20px;
    }

    &__info, &__proposition {
        max-width: 652px;
        font-weight: 300;
        @include font-conf(24,29);
        color: #000;
    }

    &__proposition {
        margin: 0 0 21px 0;
    }

    &__text {
        margin: 0 0 21px 0;
    }

    &__item:not(:last-of-type) {
        margin: 0 0 16px 0;
    }

    &__check {
        margin: 0 15px 0 0;
    }
}

.wrap-radio {
    gap: 10px;
}

.arrivals {
    background: #F8F3F4;
    padding: 60px 0;

    &__inner {
        justify-content: space-between;
    }

    &__title {
        @include font-conf(24,29);
        color: #F16D7F;
        text-transform: uppercase;
    }

    &__nav {
        gap: 5px;
    }

    &__link {
        font-weight: 300;
        text-transform: uppercase;
        @include font-conf(14,17);
        color: #636363;

    }

    &__slash {
        color: #636363;
    }

    &__link.active {
        font-weight: 700;
        color: #F16D7F;
    }


}

.product {
    background: #F7F7F7;
    position: relative;
    
    &__top {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &__img {
        width: 100%;
    }
    &__area {
        position: absolute;
        align-items: center;
        height: 100%;
        cursor: pointer;
        transition: background .3s ease 0s;
        &:hover {
            background: #d8d8d8;    
        }
    }

    &__area.left {
        left: 0;
    }

    &__area.right {
        right: 0;
    }

    &__area:hover &__arrow {
        color: #F16D7F;
    }


    &__arrow {
        padding: 12px 17px;
        background: rgba(42, 42, 42, 0.15);
        transition: color .3s ease 0s;
    }
}

.item {
    position: relative;
    z-index: 5;
    background: #fff;
    text-align: center;
    align-items: center;
    margin: -30px 0 128px 0;
    padding: 65px 24px;
    border: 1px solid #EAEAEA;

    &__suptitle {
        align-items: center;
        font-weight: 300;
        @include font-conf(14,17);
        color: #F16D7F;
        margin: 0 0 12px 0;
    }

    &__suptitle::after {
        margin: 12px 0 0 0;
        display: block;
        content: "";
        width: 63px;
        height: 3px;
        background-color: #EF5B70;
    }

    &__subtitle {
        font-weight: 300;
        color: #4D4D4D;
        @include font-conf(18,22);
        margin: 0 0 50px 0;
    }

    &__text {
        max-width: 550px;
        font-weight: 300;
        color: #5E5E5E;
        @include font-conf(14,17);
        margin: 0 0 32px 0;
    }

    &__price {
        margin: 0 0 65px 0;
        font-weight: 300;
        color: #EF5B70;
        @include font-conf(24,29);
    }

    &__long-line {
        height: 1px;
        width: 640px;
        background:#EAEAEA;
        margin: 0 0 130px 0;
    }

    &__choice {
        background: #fff;
    }

    &__link {
        margin: 48px 0 0 0;
        align-items: center;
        justify-content: center;
        border: 1px solid #FF6A6A;
        padding: 15px 30px;
        color: #FF6A6A;
        border: 1px solid #FF6A6A;
        transition: background-color 0.3s ease 0s;

        &:hover {
            color: #fff;
            background: #FF6A6A;
        }
    }
}

.for {
    gap: 30px;
    margin: 0 0 96px 0;
    &__img img {
        max-width: 100%;
    }

    &__img {
        position: relative;
        transition: transform .4s ease 0s;
        &:hover {
            transform: scale(1.05);
        }
    }

    &__triple {
        gap: 30px;
    }

    &__filter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(33, 22, 22, 0.7);
        transition: background .4s ease 0s;

        &:hover {
            background: rgba(70, 47, 47, 0.5);    
        }
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
    }

    &__sup {
        color: #fff;
        @include font-conf(16,19);
    }

    &__sub {
        font-weight: 700;
        color: #f16d7f;
        @include font-conf(24,29);
    }
}

.fetured {
    align-items: center;

    &__header {
        text-align: center;
        margin: 0 0 48px 0;
    }


    &__title {
        @include font-conf(30,36);
        color: #222;
        margin: 0 0 6px 0;
    }

    &__text {
        @include font-conf(14, 17);
        color: #9F9F9F;
    }

    &__cards {
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 0 48px 0;
    }

    &__btn {
        @include font-conf(16,19);
        color: #F26376;
        border: 1px solid #FF6A6A;
        padding: 14px 38px;
        transition: background-color .3s ease 0s;

        &:hover {
            background-color: #F16D7F;
            color: #fff;
        }
    }

}

.my-card {
    width: 360px;
    background: #F8F8F8;
    position: relative;
    transition: transform .5s ease 0s;

    &:hover {
        transform: scale(1.05);
    }

    &:hover img {
        filter: brightness(40%);
    }
    &__cart {
        position: absolute;
        justify-content: center;
        top: 188px;
        width: 100%;
        pointer-events: none;
        opacity: 0;      
    }

    &:hover &__cart {
        opacity: 1;
    }

    &__pic {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
    }

    &__img {
        width: 100%;
    }

    &__link {
        color: #fff;
        border: 1px solid #fff;
        padding: 10px;
        pointer-events: auto;
    }

    &__text {
        padding: 20px;
        flex-grow: 1;
    }

    &__name {
        @include font-conf(13,16);
        color: #000;
        margin: 0 0 12px 0;
        text-transform: uppercase;
    }

    &__desc {
        @include font-conf(14,17);
        font-weight: 300;
        color: #5D5D5D;
        margin: 0 0 18px 0;
    }

    &__price {
        @include font-conf(16,19);
        display: flex;
        flex-grow: 1;
        align-items: end;
        color: #F16D7F;
    }

}

.fa-cart-plus {
    margin: 0 10px 0 0;
}


.filter {
    padding: 51px 0 64px 0;
    align-items: center;


    &__for {
        position: relative;
        margin: 0 0 0 16px;

        &:hover .accordion {
            display: flex;
        }
    }
    

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        @include font-conf(14,17);
        color: #000;

        &:hover {
            color: #f16d7f;
            cursor: pointer;
        }

        &:hover .accordion {
            display: block;
        }

    }

}

.filter-mod {
    padding: 0 0 0 306px;
}

.similar {
    gap: 30px;

    &.catalog {
        align-items: center;
    }

    &__wrap {
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 0 48px 0;
    }

    &.catalog {
        margin: 0 0 48px 0;
    }
}

.pagination {
    border: 1px solid #EBEBEB;
    padding: 12px;
    margin: 0 auto;

    &__list {
        justify-content: space-between;
        align-items: center;
        gap: 18px;
    }
}

.page-link {
    font-weight: 300;
    @include font-conf(16,19);
    color: #c4c4c4;

    &__active {
        color: #ef5b70;
    }

    &__arrows {
        color: #000;
    }

    &:hover {
        color: #ef5b70;
    }
}

.in {

    &__inputs {
        gap: 20px;
    }

    & input {
        outline: none;
    }

    padding: 96px 0 128px 0;

    &__cart {
        align-items: flex-start;
        gap: 40px;
    }

    &__item {
        position: relative;
        width: 652px;
        display: flex;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &__stats {
        background: #fff;
        padding: 22px 31px;
        overflow: hidden;
    }

    &__quantity {
        width: 48px;
        color: #656565;
        @include font-conf(18,22);
        padding: 0 0 0 10px;
        margin: 0 0 0 24px;
        border: 1px solid #EAEAEA;

    }

    &__funcs {
        justify-content: space-between;
        width: 100%;
        text-transform: uppercase;
        margin: 90px 0 0 0;
    }

    &__func {
        color: #000000;
        font-weight: 300;
        @include font-conf(14,17);
        border: 1px solid #4A4A4A;
        padding: 16px 38px;
        transition: all .3s ease 0s;

        &:hover {
            color: #fff;
            background: #7a7a7a;
        }
    }

    &__img {
        height: 306px;
    }

    &__name {
        @include font-conf(24,29);
        color: #222;
        margin: 0 0 42px 0;
    }

    &__characteristics {
        @include font-conf(22,26);
        color: #575757;
        gap: 6px;
    }

    &__price {
        color: #f16f82;
        margin: 0 0 0 5px;
    }

    &__color {
        color: #6f6e6e;
        margin: 0 0 0 10px;
    }

    &__adress {
        margin: 0 0 0 128px;
        width: 359px;
    }

    &__subtitle {
        text-transform: uppercase;
        margin: 0 0 20px 0;
        font-weight: 300;
        color: #222;
        @include font-conf(16,19);
    }

    &__form {
        gap: 20px;
    }

    &__close {
        position: absolute;
        right: 22px;
        top: 25px;
        color: #575757;
        font-size: 18px;
        cursor: pointer;
        transition: color .3s ease 0s;

        &:hover {
            color: rgb(121, 118, 118);
        }
    }

    &__input {
        border: 1px solid #A4A4A4;
        padding: 13px 16px;

        &::placeholder {
            color: #222;
            font-weight: 300;
            @include font-conf(13,16);
        }

        &-quote {
            font-weight: 300;
            @include font-conf(11,13);
            max-width: 115px;
            padding: 10px 15px;
            color: #4A4A4A;
            margin: 0 0 57px 0;
        }
    }

    &__total {
        align-items: flex-end;
        padding: 40px;
        background: #F5F3F3;
    }

    &__subtotal, &__grandtotal {
        text-transform: uppercase;
    }

    &__subtotal {
        color: #4A4A4A;
        @include font-conf(11,13);
        margin: 0 0 12px 0;
    }

    &__grandtotal {
        color: #222;
        font-weight: 300;
        @include font-conf(16,19);
        margin: 0 0 24px 0;
    }

    &__price-margin {
        margin: 0 0 0 20px;
    }

    &__grandprice {
        color: #f16d7f;
    }

    &__line {
        background: #E2E2E2;
        width: 100%;
        height: 1px;
        margin: 0 0 17px 0;
    }

    &__btn {
        align-self: center;
        width: 100%;
        background: #F16D7F;
        color: #fff;
        text-transform: uppercase;
        padding: 16px 42px;
        transition: all .3s ease 0s;

        &:hover {
            background: #fff;
            color: #f16d7f;
        }
    }

}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 16px;
    }

    .top {
        height: 367px;
        margin-bottom: 20px;
        &__title {
            padding: 0 33px 0 0;
        }

        &__inner {
            background-position-x: 100px;
        }

        &__title {
            right: 33px;
            top: 138px;
            padding: 0 0 0 16px;
        }

        &__sup {
            font-weight: 700;
            @include font-conf(42,52);
            color: #222;
        }
    
        &__sub {
            font-weight: 700;
            @include font-conf(24,28);
            color: #222;
        }
    }

    .content {
        margin-bottom: 64px;
    }

    .fetured {

        &__cards {
            gap: 16px;
            margin-bottom: 33px;
        }
    }

    .similar {


        &__wrap {
            gap: 16px;
        }
    }

    .similar.catalog {
        margin: 0 0 40px 0;
    }

    .in {

        &__inner {
            flex-direction: column;
        }

        &__item {
            width: 100%;
        }

        &__funcs {
            justify-content: center;
            gap: 50px;
            margin: 30px 0 64px 0;
        }

        &__adress {
            margin: 0;
            width: 100%;
        }

        &__form {
            flex-direction: row;
            align-items: center;
        }

        &__inputs, &__total {
            flex-basis: 50%;
        }
    }


}

@media screen and (max-width: 375px) {

    .container {
        padding: 0 8px;
    }

    .top {

        &__inner {
            background-image: none;
        }
    }

    .for {
        
        &__triple {
            flex-direction: column;

        }

        &__accessor {
            height: 111px;
        }
    }

    .filter {

        padding: 24px 0 32px 0;

        & span {
            display: none;
        }

        &__for {
            margin: 0;
        }
    }

    .arrivals {
        padding: 24px 0 46px 0;
        &__inner {
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
    }

    .filter-mod {
        padding: 0 0 0 61px;
    }

    .fa-chevron-down {
        margin: 0px 0 0 7px;
    }

    .similar {
        flex-wrap: wrap;
    }

    .item {

        margin-bottom: 64px;

        &__long-line {
            width: 148px;
            margin: 0 0 50px 0;
        }
    }

    .variants {
        &__spec {
            @include font-conf(10,12);
        }
    }

    .in {

        &__item {
            height: 188px;
        }

        &__cart {
            gap: 30px;
        }

        &__name {
            @include font-conf(16,19);
        }

        &__img {
            width: 143px;
            height: 100%;
        }

        &__stats {
            padding: 13px 17px;
        }

        &__characteristics {
            @include font-conf(14,17);
        }

        &__quantity {
            width: 48px;
            height: 14px;
        }

        &__close {
            top: 12px;
        }

        &__funcs {
            gap: 9px;
            margin-bottom: 64px;
        }

        &__func {
            @include font-conf(12,14);
            padding: 9px 18px;
            flex-basis: 50%;
        }

        &__form {
            flex-direction: column;
        }

        &__inputs, &__total {
            width: 100%;
        }
    }

}



