// Стили для контента сайта

.content {
    margin: 0 0 95px 0;
}

.top {
    background: #F1E4E6;
    height: 764px;
    margin-bottom: 65px;

    &__inner {
        width: 100%;
        height: 100%;
        background: url("/images/top_preview/Man.png") no-repeat left;
        justify-content: flex-end;
        padding: 290px 105px 0 0;

        &::before {
            content: "";
            width: 12px;
            height: 92px;
            background: #F16D7F;
            margin: 0 16px 0 0;
        }
    }

    &__title {
        display: inline-block;
    }

    &__sup {
        font-weight: 900;
        @include font-conf(48,58);
        color: #222;
    }

    &__sub {
        font-weight: 700;
        @include font-conf(32,38);
        color: #222;
    }

    &__word {
        color: #F16D7F;
    }
}

.arrivals {
    background: #F8F3F4;
    padding: 60px 0;

    &__inner {
        justify-content: space-between;
    }

    &__title {
        @include font-conf(24,29);
        color: #F16D7F;
        text-transform: uppercase;
    }

    &__nav {
        gap: 5px;
    }

    &__link {
        font-weight: 300;
        text-transform: uppercase;
        @include font-conf(14,17);
        color: #636363;

    }

    &__slash {
        color: #636363;
    }

    &__link.active {
        font-weight: 700;
        color: #F16D7F;
    }


}

.product {
    background: #F7F7F7;
    position: relative;
    
    &__top {
        width: 100%;
        align-items: center;
        justify-content: center;


    }

    &__area {
        position: absolute;
        align-items: center;
        height: 100%;
        cursor: pointer;
        transition: background .3s ease 0s;
        &:hover {
            background: #d8d8d8;    
        }
    }

    &__area.left {
        left: 0;
    }

    &__area.right {
        right: 0;
    }

    &__area:hover &__arrow {
        color: #F16D7F;
    }


    &__arrow {
        padding: 12px 17px;
        background: rgba(42, 42, 42, 0.15);
        transition: color .3s ease 0s;
    }
}

.item {
    position: relative;
    z-index: 5;
    background: #fff;
    text-align: center;
    align-items: center;
    margin-top: -15px;
    padding: 65px 0;
    margin: 0 0 128px 0;
    border: 1px solid #EAEAEA;

    &__suptitle {
        align-items: center;
        font-weight: 300;
        @include font-conf(14,17);
        color: #F16D7F;
        margin: 0 0 12px 0;
    }

    &__suptitle::after {
        margin: 12px 0 0 0;
        display: block;
        content: "";
        width: 63px;
        height: 3px;
        background-color: #EF5B70;
    }

    &__subtitle {
        font-weight: 300;
        color: #4D4D4D;
        @include font-conf(18,22);
        margin: 0 0 50px 0;
    }

    &__text {
        width: 550px;
        font-weight: 300;
        color: #5E5E5E;
        @include font-conf(14,17);
        margin: 0 0 32px 0;
    }

    &__price {
        margin: 0 0 65px 0;
        font-weight: 300;
        color: #EF5B70;
        @include font-conf(24,29);
    }

    &__long-line {
        height: 1px;
        width: 640px;
        background:#EAEAEA;
        margin: 0 0 130px 0;
    }

    &__variant, &__spec {
        text-transform: uppercase;
        @include font-conf(14,17);
        color: #6F6E6E;
        cursor: pointer;

    }

    &__choice {
        background: #fff;
    }

    &__variants {
        position: absolute;
        gap: 23px;
        top: 422px;
    }

    &__variant {
        margin: 10px 0 0 0;
        &:hover {
            &:hover {
                background:rgba(33, 22, 22, 0.5);
                color: #fff;
            }
        }
    }

    &__link {
        align-items: center;
        justify-content: center;
        border: 1px solid #FF6A6A;
        padding: 15px 30px;
        color: #FF6A6A;
        border: 1px solid #FF6A6A;
        transition: background-color 0.3s ease 0s;

        &:hover {
            color: #fff;
            background: #FF6A6A;
        }
    }

}

.similar {
    gap: 30px;
}

.for {
    @include adaptiveValue("gap",30,20);
    margin: 0 0 96px 0;
    &__img img {
        max-width: 100%;
    }

    &__img {
        position: relative;
    }

    &__triple {
        @include adaptiveValue("gap",30,20);
    }

    &__filter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(33, 22, 22, 0.7);

        &:hover {
            background: rgba(33, 22, 22, 0.5);    
        }
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
    }

    &__sup {
        color: #fff;
        @include font-conf(16,19);
    }

    &__sub {
        font-weight: 700;
        color: #f16d7f;
        @include font-conf(24,29);
    }
}

.fetured {
    align-items: center;

    &__header {
        text-align: center;
        margin: 0 0 48px 0;
    }


    &__title {
        @include font-conf(30,36);
        color: #222;
        margin: 0 0 6px 0;
    }

    &__text {
        @include font-conf(14, 17);
        color: #9F9F9F;
    }

    &__cards {
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 0 48px 0;
    }

    &__btn {
        @include font-conf(16,19);
        color: #F26376;
        border: 1px solid #FF6A6A;
        padding: 14px 38px;
        transition: background-color .3s ease 0s;

        &:hover {
            background-color: #F16D7F;
            color: #fff;
        }
    }

}

.card {
    width: 360px;
    background: #F8F8F8;
    position: relative;

    &:hover img {
        filter: brightness(40%);
    }
    &__cart {
        position: absolute;
        justify-content: center;
        top: 188px;
        width: 100%;
        pointer-events: none;
        opacity: 0;      
    }

    &:hover &__cart {
        opacity: 1;
    }

    &__pic {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__img {
        width: 100%;
    }

    &__link {
        color: #fff;
        border: 1px solid #fff;
        padding: 10px;
        pointer-events: auto;
    }

    &__text {
        padding: 20px;
        flex-grow: 1;
    }

    &__name {
        @include font-conf(13,16);
        color: #000;
        margin: 0 0 12px 0;
        text-transform: uppercase;
    }

    &__desc {
        @include font-conf(14,17);
        font-weight: 300;
        color: #5D5D5D;
        margin: 0 0 18px 0;
    }

    &__price {
        @include font-conf(16,19);
        display: flex;
        flex-grow: 1;
        align-items: end;
        color: #F16D7F;
    }

}

.fa-cart-plus {
    margin: 0 10px 0 0;
}



