// Стили для футера сайта

.footer {
    &__top {
        background: #222224;
        padding: 104px 0;
    }

    &__inner {
        justify-content: space-around;
        align-items: end;
    }


    &__prop {
        align-items: center;
        color: #fff;
        text-align: center;
    }

    &__img {
        margin: 0 0 28px 0;
    }

    &__title {
        @include font-conf(20,24);
        margin: 0 0 16px 0;
    }

    &__text {
        font-weight: 300;
        @include font-conf(14,17);
    }

    &__mid {
        background: url("../images/footer/back.jpg") no-repeat;
        background-size: cover;
        background-position: bottom;
        min-height: 448px;
    }

    &__mid-inner {
        align-items: center;
        justify-content: space-around;
        height: inherit;
    }

    &__mid-container {
        width: 100%;
        height: 100%;
    }

    &__mid-bg {
        background: rgba(244, 244, 244, 0.7);
        width: 100%;
        align-items: center;
        padding: 86px 0 140px 0;
    }

    &__review {
        align-items: center;
        max-width: 360px;
        text-align: center;
        & figcaption {
            @include font-conf(20,24);
            color: #222224;
        }
    }

    &__ava {
        margin: 0 0 24px 0;
    }

    &__sub {
        text-align: center;
        text-transform: uppercase;
    }

    &__sub form {
        width: 100%;
        display: flex;
    }

    &__sub-title {
        font-weight: 700;
        @include font-conf(24,40);
        color: #222224;
    }

    &__sub-text {
        @include font-conf(18,30);
        color:#222224;
        margin: 0 0 32px 0;
    }

    &__sub-input {
        border-radius: 20px 0 0 20px;
        height: 49px;
        flex-basis: 246px;
        padding: 7px 22px;
        outline: none;
        background-color: #E1E1E1;
    }

    &__sub-input::placeholder {
        @include font-conf(14,17);
        color: #222224;
    }

    &__sub-btn {
        border-radius: 0 20px 20px 0;
        flex-grow: 1;
        color: #fff;
        background: #F16D7F;
        transition: background .3s ease 0s;

        &:hover {
            color: #F16D7F;
            background: #fff;
        }
    }

    &__bot {
        background: #222224;
        padding: 24px 0;
    }

    &__bot-inner {
        justify-content: space-between;
        align-items: center;
    }

    &__copy {
        @include font-conf(16,19);
        color: #FBFBFB;
    }

    &__social {
        gap: 7px;
        position: relative;  
    }


    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: #fff;
        padding: 8px;
        transition: background .3s ease 0s;

        &:hover {
            background: #F16D7F;
        }


    }

    &__social-link {
        color: #000;

    }

    &__social-item:hover &__social-link {
        color: #fff;
    }
}
  

@media screen and (max-width: 768px) {
    .footer {
        &__inner {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        &__top {
            padding: 24px 0;
        }

        &__mid-inner {
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }


        &__bot {
            padding: 24px 23px;
        }
        
    }
}

@media screen and (max-width: 375px) {
    .footer {

        &__registration {
            padding: 53px 0 53px 0;
        }

        &__mid-inner {
            gap: 60px;
        }
        &__bot-inner {
            flex-direction: column-reverse;
            gap: 40px;
        }

        &__mid-bg {
            padding: 59px 0 53px 0;
        }

        &__social {
            
            &::after {
                content: "Sign up now to get your own personalized timeline!";
                font-family: inherit;
                color: #fff;
                font-size: 0.7rem;
                position: absolute;
                top: 25px;
                left: -50%;
                padding: 15px;
                width: 200%;
                text-align: center;
                padding: 15px;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .button-wrap {
        justify-content: center;
    }
}