// Стили для футера сайта

.footer {
    &__top {
        background: #222224;
        padding: 104px 0;
    }

    &__inner {
        justify-content: space-around;
        align-items: end;
    }

    &__prop {
        align-items: center;
        color: #fff;
        text-align: center;
    }

    &__img {
        margin: 0 0 28px 0;
    }

    &__title {
        @include font-conf(20,24);
        margin: 0 0 16px 0;
    }

    &__text {
        font-weight: 300;
        @include font-conf(14,17);
    }

    &__mid {
        background: url("../images/footer/back.jpg") no-repeat;
        background-size: cover;
        height: 448px;
        width: 100%;
    }

    &__mid-inner {
        align-items: center;
        justify-content: space-around;
    }

    &__mid-bg {
        background: rgba(244, 244, 244, 0.7);
        width: 100%;
        height: 100%;
        align-items: center;
    }

    &__review {
        align-items: center;
        flex-basis: 360px;
        text-align: center;
        & figcaption {
            @include font-conf(20,24);
            color: #222224;
        }
    }

    &__ava {
        margin: 0 0 24px 0;
    }

    &__sub {
        text-align: center;
        text-transform: uppercase;
    }

    &__sub form {
        width: 100%;
        display: flex;
    }

    &__sub-title {
        font-weight: 700;
        @include font-conf(24,40);
        color: #222224;
    }

    &__sub-text {
        @include font-conf(18,30);
        color:#222224;
        margin: 0 0 32px 0;
    }

    &__sub-input {
        border-radius: 20px 0 0 20px;
        height: 49px;
        flex-basis: 246px;
        padding: 7px 22px;
        outline: none;
    }

    &__sub-input::placeholder {
        @include font-conf(14,17);
        color: #222224;
    }

    &__sub-btn {
        border-radius: 0 20px 20px 0;
        flex-grow: 1;
        color: #fff;
        background: #F16D7F;
    }

    &__bot {
        background: #222224;
        padding: 24px 0;
    }

    &__bot-inner {
        justify-content: space-between;
    }

    &__copy {
        @include font-conf(16,19);
        color: #FBFBFB;
    }

    &__social {
        gap: 7px;
    }

    &__social-item {
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: #fff;
        padding: 8px;
        transition: background .3s ease 0s;

        &:hover {
            background: #F16D7F;
        }
    }
}