// Стили для шапки сайта

.header {
  height: 75px;
  background: #222;

  &__inner {
    justify-content: space-between;
  }

  &__main, &__menu {
    align-items: flex-end;
  }

  &__main {
    gap: 40px;
  }

  &__menu {
    gap: 33px;
  }

  &__item {
    position: relative;
    padding: 18px 0 18px 0;

  }

  &__burger:hover .menu{
    display: block;
  }
}


.header__item .fa-solid {
  color: #fff;
  font-size: 28px;
  transition: color .3s ease 0s;
}

.header__item:hover .fa-solid {
  color: #F16D7F;
}

@media screen and (max-width: 375px) {
  .header {
    &__hide {
      display: none;
    }
  }

  .variants {
    &__spec, &__choice {
      @include font-conf(12,14);
  }

  }
}

