// Обнуление стилей страницы

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: $fontFamily;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: rem($fontSize);
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}
ul li {
  list-style-type: none;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
img {
  vertical-align: top;
}
