.menu {
    background-color: #fff;
    padding: 33px;
    width: 232px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    position: absolute;
    top: 65px;
    display: none;
    z-index: 100;

    &::before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        background: #fff;
        position: absolute;
        top: -8px;
        left: 4px;
        transform: rotate(45deg);
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
    }

    &__submenu:not(:last-of-type){
        margin: 0 0 20px 0;
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }

    &__title {
        margin: 0 0 24px 0;
    }
  
    &__title-link, &__heading {
      font-weight: 700;
      @include font-conf(14, 17);
      text-transform: uppercase;
      color:#000;
    }
  
    &__heading {
      color:#F16D7F;
      margin: 0 0 12px 0;
  }

  &__link {
      display: block;
      @include font-conf(14, 17);
      color: #6F6E6E;
      padding: 0 21px;

      &:not(:last-of-type) {
          padding-bottom: 11px;
      }

      &:hover {
          color: #F16D7F;
          transition: color .3s ease 0s;
      }
  }
}

.variants {
    z-index: 10;

    &__spec, &__choice {
        text-transform: uppercase;
        @include font-conf(14,17);
        color: #6F6E6E;
        cursor: pointer;
    }

    &__list {
        gap: 12px;
    }

    &__item {
        position: relative;
        padding: 10px;
    }

    &__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        align-items: flex-start;
        gap: 10px;
        padding: 20px;
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);


    }

    &__item:hover &__menu {
        display: flex;
    }

    &__select {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    &__choice {
        width: 100%;
        cursor: pointer;
        text-align: left;
    }

}

.catalog-menu {
    background: #fff;
    display: none;
    position: absolute;
    z-index: 10;
    padding: 15px;
    top: -15px;
    left: -15px;
    width: 360px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    &__title {
        margin: 0 0 16px 0;

    }
    &__subtitle, &__title {
        @include font-conf(14,17);
        color: #EF5B70;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__subtitle {
        padding: 11px;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;

        &:not(:first-of-type) {
            margin: 0 0 18px 0;
        }
        &:last-of-type {
            margin: 0;
        }
    }

    &__list {
        padding: 19px 20px 20px 24px;
        gap: 10px;
    }

    &__item {
        color: #6F6E6E;
        @include font-conf(14,17);
        padding: 5px 0;
        transition: color .3s ease 0s;

        &:hover {
            color: #F16D7F;
        }
        
    }
}


.accordion {
    display: none;
    z-index: 100;
    position: absolute;
    top: -16px;
    left: -16px;
    width: 360px;
    padding: 16px;
    gap: 15px;
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    &__wrap {
        gap: 15px;
    }

    & a {
        color: #6F6E6E;
        @include font-conf(14,17);
        padding: 5px 0;
        transition: color .3s ease 0s;

        &:hover {
            color: #F16D7F;
        }  
    }

    &__title, &__filter {
        
        @include font-conf(14,17);
        color: #EF5B70;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__title {
        padding: 11px;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB; 
    }
    &__list {
        padding: 24px 17px 0 17px;
        gap: 10px;
    }

    &__bars {
        font-size: inherit;
    }
}


.fa-chevron-down {
    margin: 0 0 0 10px;
}