@import "fonts";
@import "mix-func";

// Преднастройка с техничискими классами и переменными


$maxWidthContainer: 1140;
$maxWidth: 1600;
$mW1: 768;

$fontFamily: 'Lato';

@import "resets";

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '\3009';
  padding-left: 0.5em;
  transform: rotate(180deg);
}

details[open] > summary::after {
  content: '\FE40';
}

// Стили основных блоков

@import "widgets";
@import "header";
@import "content";
@import "footer";
