@import "fonts";
@import "mix-func";

// Преднастройка с техничискими классами и переменными


$maxWidthContainer: 1140;
$maxWidth: 1600;
$mW1: 768;

$fontFamily: 'Lato';

@import "resets";

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

// Стили основных блоков

@import "widgets";
@import "header";
@import "content";
@import "footer";
